@inherits LayoutComponentBase

<PageTitle>ACCWebUI</PageTitle>

<div class="bb-page">

    <NavMenu />

    <main>

        <div class="top-row auth">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopCenter" />
<Modal IsServiceModal="true" />