@page "/performance_records"

@inject ApiService ApiService
@inject NavigationManager Navigation
@inject PaginationService<Leistungsnachweis> PaginationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService
@inject ModalService ModalService

@attribute [Authorize]

<PageTitle>Leistungsnachweise | ACC Web UI</PageTitle>

<div class="mb-3 d-flex justify-content-between align-items-center">
    <h1>Leistungsnachweise</h1>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary"><Icon Name="IconName.Plus" /> Neuer Leistungsnachweis</Button>
</div>

@code {

}
