@page "/orders/create"

<PageTitle>Neuer Auftrag | ACC Web UI</PageTitle>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Neuer Auftrag</h1>
    <div class="btn-group" role="group" aria-label="Actions">
        <Button Type="ButtonType.Link" To="/orders" Color="ButtonColor.Primary"><Icon Name="IconName.BackspaceFill" /> Zurück</Button>
        <Button @onclick="Save" Color="ButtonColor.Primary"><Icon Name="IconName.Floppy" /> Speichern</Button>
    </div>
</div>

@code {
    private void Save()
    {

    }
}
