@page "/orders/{OrderId:int}/edit"

<PageTitle>Auftrag bearbeiten | ACC Web UI</PageTitle>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Ausgangsrechnung bearbeiten</h1>
    <div class="btn-group" role="group" aria-label="Actions">
        <Button Type="ButtonType.Link" To="/orders" Color="ButtonColor.Primary"><Icon Name="IconName.BackspaceFill" /> Zurück</Button>
        <Button Type="ButtonType.Link" To="#" Color="ButtonColor.Primary"><Icon Name="IconName.Floppy" /> Speichern</Button>
    </div>
</div>
<div>
    <p>Auftragsnummer: #@OrderId </p>
</div>

@code {
    [Parameter]
    public int OrderId { get; set; }
}
