<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <PageTitle>Not authorized | ACCWebUI</PageTitle>
                    <div class="alert alert-primary" role="alert">
                        Sorry, you are not authorized to view this page. Please login or contact support.
                    </div>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found | ACCWebUI</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-primary" role="alert">
                    Sorry, there's nothing at this address. Go <a href="/">home</a>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
