@page "/outgoing_invoices/create"

<PageTitle>Neue Ausgangsrechnung | ACC Web UI</PageTitle>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Neue Ausgangsrechnung</h1>
    <div class="btn-group" role="group" aria-label="Aktionen">
        <Button Type="ButtonType.Link" To="/outgoing_invoices" Color="ButtonColor.Primary"><Icon Name="IconName.BackspaceFill" /> Zurück</Button>
        <Button onclick="Save" Color="ButtonColor.Primary"><Icon Name="IconName.Floppy" /> Speichern</Button>
    </div>
</div>

@code {
    private void Save()
    {
        
    }
}
