@page "/outgoing_invoices"

@attribute [Authorize]

<PageTitle>Ausgangsrechnungen | ACC Web UI</PageTitle>

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>Ausgangsrechnungen</h1>
    <Button Type="ButtonType.Link" To="/outgoing_invoices/create" Color="ButtonColor.Primary"><Icon Name="IconName.Plus" /> Neue Ausgangsrechnung</Button>
</div>


@code {

}
