@page "/business_years/{BusinessYearId:int}/edit"

@inject ApiService ApiService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService

<PageTitle>Geschäftsjahr bearbeiten | ACC Web UI</PageTitle>

<Card Class="shadow-sm mb-3">
    <CardBody>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1>Geschäftsjahr bearbeiten</h1>
            <div class="btn-group" role="group" aria-label="Actions">
                <Button Type="ButtonType.Link" To="/business_years" Color="ButtonColor.Primary"><Icon Name="IconName.BackspaceFill" /> Zurück</Button>
                <Button @onclick="Save" Color="ButtonColor.Primary"><Icon Name="IconName.Floppy" /> Speichern</Button>
            </div>
        </div>
        @if (IsLoading)
        {
            <div class="spinner-border ms-auto" aria-hidden="true"></div>
        }
        else
        {
            @if (BusinessYear != null)
            {
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" @bind-value="BusinessYear.Name">
                </div>
                <div class="form-group">
                    <label for="zeitraum">Zeitraum:</label>
                    <div class="input-group">
                        <input type="date" class="form-control" id="von" placeholder="Von" @bind-value="BusinessYear.DatumVon">
                        <input type="text" class="form-control" value="-" disabled readonly style="text-align:center" />
                        <input type="date" class="form-control" id="bis" placeholder="Bis" @bind-value="BusinessYear.DatumBis">
                    </div>
                </div>
                <div class="form-group">
                    <label for="rechnungsprefix">Rechnungsprefix:</label>
                    <input type="text" class="form-control" id="rechnungsprefix" placeholder="Prefix" @bind-value="BusinessYear.Rechnungsprefix">
                </div>
            }
            else
            {
                <Alert Color="AlertColor.Danger" Class="shadow-sm"><Icon Name="IconName.ExclamationTriangleFill" /> Kein Geschäftsjahr vorhanden</Alert>
            }
        }
    </CardBody>
</Card>

@code {
    [Parameter]
    public int BusinessYearId { get; set; }

    private Geschaeftsjahr BusinessYear;

    private ClaimsPrincipal AuthenticatedUser;

    private bool IsLoading = true;

    protected override async Task OnInitializedAsync()
    {
        ApiService.InitializeEndpoint(ResourceEndpoint.business_years);
        BusinessYear = await ApiService.GetByIdAsync<Geschaeftsjahr>(BusinessYearId);

        IsLoading = false;
    }

    private async Task Save()
    {
        ApiService.InitializeEndpoint(ResourceEndpoint.business_years);
        await ApiService.UpdateAsync<Geschaeftsjahr>(BusinessYearId, BusinessYear);

        ToastService.Notify(
            new ToastMessage()
                {
                    Type = ToastType.Success,
                    IconName = IconName.Book,
                    Title = "Geschäftsjahr",
                    HelpText = DateTime.Now.ToString(),
                    Message = "Geschäftsjahr erfolgreich bearbeitet",
                }
        );

        Navigation.NavigateTo("business_years");
    }
}
