@page "/employees"

@inject ApiService ApiService
@inject NavigationManager Navigation
@inject PaginationService<Mitarbeiter> PaginationService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ToastService ToastService
@inject ModalService ModalService

@attribute [Authorize]

<PageTitle>Mitarbeiter | ACC Web UI</PageTitle>

<div class="mb-3 d-flex justify-content-between align-items-center">
    <h1>Mitarbeiter</h1>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary"><Icon Name="IconName.Plus" /> Neuer Mitarbeiter</Button>
</div>

@code {

}
